@use "../config" as *;

$view: "board";

.#{$prefix}--#{$view} {
  display: grid;
  column-gap: 8px;
  align-items: flex-start;
  margin: 8px;
}

.#{$prefix}--#{$view}--column {
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--radius-m);
  background-color: var(--background-primary-alt);
  display: flex;
  gap: var(--size-4-2);
  flex-direction: column;
  padding: var(--size-4-2);
}

.#{$prefix}--#{$view}--card {
  background-color: var(--background-primary);
  border-radius: var(--radius-s);
  border: 1px solid var(--background-modifier-border);
  padding: var(--size-4-2);

  &:hover {
    border: 1px solid var(--background-modifier-border-hover);
  }
}

.#{$prefix}--#{$view}--card-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-4-2);
  min-height: 35px;
  transition: all 150ms ease-in-out;
}
