name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: yarn install
      - name: Build plugin
        run: yarn build
      - name: Test plugin
        run: yarn test
      - name: Lint plugin (ESLint)
        run: yarn lint
      - name: Check plugin (Svelte)
        run: yarn run svelte-check
